<!DOCTYPE html>
<html ng-app="Tombola.MyModule" lang="en">
<head>
    <script type="text/javascript" src="thirdparty/bower_components/angular/angular.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="scripts/app.js"></script>
    <title>Noughts and Crosses</title>
</head>
<body ng-controller="MyController">
<main>
    <h1> Noughts and Crosses ({{Player1}} vs {{Player2}}) </h1>
    <h2> Score: {{gameBoard}} </h2>
    <div id="board" ng-show="showme">
        <table>
        <tr id="row1">
            <td ng-click="chooseBlock(0); makeTurn();" class="square"><img ng-src="images/transparent.png" class="player{{gameBoard[0]}}"> </td>
            <td ng-click="chooseBlock(1); makeTurn();" class="square v"><img ng-src="images/transparent.png" class="player{{gameBoard[1]}}"> </td>
            <td ng-click="chooseBlock(2); makeTurn();" class="square"><img ng-src="images/transparent.png" class="player{{gameBoard[2]}}"></td>
        </tr>
        <tr id="row2">
            <td ng-click="chooseBlock(3); makeTurn();"class="square h"><img ng-src="images/transparent.png" class="player{{gameBoard[3]}}" > </td>
            <td ng-click="chooseBlock(4); makeTurn();"class="square v h"><img ng-src="images/transparent.png" class="player{{gameBoard[4]}}"> </td>
            <td ng-click="chooseBlock(5); makeTurn();"class="square h"><img ng-src="images/transparent.png" class="player{{gameBoard[5]}}"> </td>
        </tr>
        <tr id="row3">
            <td ng-click="chooseBlock(6); makeTurn();" class="square"><img src="images/transparent.png" class="player{{gameBoard[6]}}"> </td>
            <td ng-click="chooseBlock(7); makeTurn();" class="square v"><img src="images/transparent.png"class="player{{gameBoard[7]}}"> </td>
            <td ng-click="chooseBlock(8); makeTurn();" class="square"><img src="images/transparent.png" class="player{{gameBoard[8]}}"> </td>
        </tr>
    </table>
    </div>
    <select ng-hide="showme" name="Choose Player 1" ng-model="Player1">
        <option value="human">Human</option>
        <option value="random">Computer</option>
        <option value="pre-trained">Pre-trained</option>
    </select>
    <span ng-hide="showme"> vs </span>
    <select ng-hide="showme" name="Pick your enemy wisely" ng-model="Player2">
        <option value="human">Human</option>
        <option value="random">Computer</option>
        <option value="pre-trained">Pre-trained</option>
    </select>
    <input type="button" value="Play" ng-hide="showme" ng-click="showme=true;startGame();">
    <br/>
    <h2> Player 1 picked {{Player1}}</h2>
    <h2> Player 2 picked {{Player2}}</h2>
</main>
<br/>
</body>
</html>