<html lang="en">
<h1 class="animated zoomInDown"> Noughts and Crosses ({{gameModel.player1}} vs {{gameModel.player2}}) </h1>
<h2> Score: {{gameModel.gameBoard}} </h2>
<h1> {{gameModel.currentGameState}}</h1>
<div class="{{gameModel.player1}}"></div> VS
<span class="{{gameModel.player2}}"></span>
<div id="board">
    <table>
        <tr id="row1">
            <td><squares index = "0"></squares> </td>
            <td class="square v"> <squares index = "1"></squares> </td>
            <td><squares index = "2"></squares></td>
        </tr>
        <tr id="row2">
            <td class="square h"><squares index = "3"></squares> </td>
            <td class="square v h"><squares index = "4"></squares> </td>
            <td class="square h"><squares index = "5"></squares> </td>
        </tr>
        <tr id="row3">
            <td><squares index = "6"></squares> </td>
            <td class="square v"> <squares index = "7"></squares> </td>
            <td><squares index = "8"></squares> </td>
        </tr>
    </table>
    <br/>
    <li><a ui-sref="playerSelect">Home</a></li>
</div>
</html>
