<img src="images/bloodsplat.png" class=" animated fadeInDown">
<h1 class="animated pulse infinite"> DRAW! You have both failed to destroy each other and have shown mercy on each other!.</h1>
<img src="https://media.giphy.com/media/N5PsztQSjkYMw/giphy.gif">
<img src="http://media.giphy.com/media/aVZeSJpQ0r42c/giphy.gif">
<img src="images/drawepic.png" class="animated flip">
<img src="http://img4.wikia.nocookie.net/__cb20140105221224/disneycreate/images/7/7a/Sigh.gif">
<br/>
<br/>
<div ng-controller="GameBoardController">
    <game-board></game-board>
</div>
<audio controls autoplay ng-hide="hidden" hidden="true">
    <source src="../sounds/2sad4me.mp3" type="audio/mpeg">
</audio>