<h1 class="animated zoomInDown"> Noughts and Crosses ({{model.Player1}} vs {{model.Player2}}) </h1>
<h2> Score: {{boardmodel.gameBoard}} </h2>
<h1> {{boardmodel.currentGameState}}</h1>
<div class="{{model.Player1}}"></div> VS
<span class="{{model.Player2}}"></span>
<div id="board">
    <table>
        <tr id="row1">
            <td ng-click="chooseBlock(0);" class="square"><img ng-src="images/transparent.png" class="player{{boardmodel.gameBoard[0]}}"> </td>
            <td ng-click="chooseBlock(1);" class="square v"><img ng-src="images/transparent.png" class="player{{boardmodel.gameBoard[1]}}"> </td>
            <td ng-click="chooseBlock(2);" class="square"><img ng-src="images/transparent.png" class="player{{boardmodel.gameBoard[2]}}"></td>
        </tr>
        <tr id="row2">
            <td ng-click="chooseBlock(3);"class="square h"><img ng-src="images/transparent.png" class="player{{boardmodel.gameBoard[3]}}" > </td>
            <td ng-click="chooseBlock(4);"class="square v h"><img ng-src="images/transparent.png" class="player{{boardmodel.gameBoard[4]}}"> </td>
            <td ng-click="chooseBlock(5);"class="square h"><img ng-src="images/transparent.png" class="player{{boardmodel.gameBoard[5]}}"> </td>
        </tr>
        <tr id="row3">
            <td ng-click="chooseBlock(6);" class="square"><img src="images/transparent.png" class="player{{boardmodel.gameBoard[6]}}"> </td>
            <td ng-click="chooseBlock(7);" class="square v"><img src="images/transparent.png"class="player{{boardmodel.gameBoard[7]}}"> </td>
            <td ng-click="chooseBlock(8);" class="square"><img src="images/transparent.png" class="player{{boardmodel.gameBoard[8]}}"> </td>
        </tr>
    </table>
    <br/>
    <li><a ui-sref="route3">Home</a></li>
</div>

