<div ng-controller="PlayerController">
    <h1 class="animated zoomInDown"> Noughts and Crosses ({{playerService.player1}} vs {{playerService.player2}}) </h1>
<h2> Choose type of player</h2>
<div ng-class="playerService.player1 | AnimationFilter" ng-click="playerService.togglePlayer1()"> </div> <span> VS </span><div ng-class="playerService.player2 | AnimationFilter" ng-click="playerService.togglePlayer2()"></div>
<br/>
<h2> Player 1 picked {{playerService.player1}}</h2>
<h2> Player 2 picked {{playerService.player2}}</h2>
    <li><a ui-sref="rulePage">Rules</a></li>
</div>
    <div ng-controller="GameBoardController">
<li><a ui-sref="gameBoard"  ng-click="gameModel.startGame();">Play</a></li>
    </div>