<div ng-controller="PlayerController">
    <h1 class="animated zoomInDown"> Noughts and Crosses ({{model.Player1}} vs {{model.Player2}}) </h1>
<h2> Choose type of player</h2>
<div ng-click="model.togglePlayer1()" class="{{model.player1}}"></div> <span> VS </span>
<div ng-click="model.togglePlayer2()" class="{{model.player2}}"></div>
<br/>
<h2> Player 1 picked {{model.player1}}</h2>
<h2> Player 2 picked {{model.player2}}</h2>
    <li><a ui-sref="route2">Rules</a></li>
</div>
    <div ng-controller="MyController">
<li><a ui-sref="route1"  ng-click="model.startGame();">Play</a></li>
    </div>